svg {
    pointer-events: none;
    position: absolute;
    width: 1500px;
    height: 700px;
    left: -110px;
}
line {
    stroke: black;
    stroke-width: 1px;
    opacity: 0.1;
}
.axis {
    font-family: sans-serif;
    stroke: red;
    opacity:1;
}
.axis-textX {
    font-size: 10px;
}
.axis-textY {
    font-size: 16px;
}
.tech {
    fill: green;
    opacity:0.2;
}
.tech_l {
    fill: green;
    stroke: black;
    stroke-width:1px;
    fill-opacity:0.2;
    stroke-opacity:0.5;
}
.standIn_l {
    fill: red;
    stroke: black;
    stroke-width: 1px;
    stroke-opacity: 0.5;
    fill-opacity:0.6;
}
.disconnect_l {
    fill: yellow;
    stroke: black;
    stroke-width: 1px;
    stroke-opacity: 0.5;
}
.standIn {
    fill: red;
    fill-opacity:0.6;
    pointer-events: visible;
}
.standIn:hover {
    fill-opacity: 1;
}
.standIn:hover + .label{
    opacity:1;
}
.disconnect {
    fill: yellow;
    fill-opacity:0.6;
    pointer-events: visible;
}
.disconnect:hover {
    fill-opacity: 1;
}
.disconnect:hover + .label{
    opacity:1;
}
.normal {
    fill: forestgreen;
    fill-opacity:0.6;
    pointer-events: visible;
}
.normal:hover {
    fill-opacity: 1;
}
.normal:hover + .label{
    opacity:1;
}
.label{
    opacity:0;
    font-size: 12px;
    font-family: sans-serif;
}
